:root {
  --white: white;
  --black: black;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #000;
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.section_auth {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  position: relative;
}

.section_auth.padding-global {
  align-items: stretch;
  overflow: hidden;
}

.section_ultra-gradients {
  border-bottom: 1px solid #f0f0f0;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.section_ultra-gradients.is-full {
  width: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.ultra-gradient-wrapper {
  width: 100%;
  height: 100%;
  background-color: #1b1b1b;
  justify-content: center;
  align-items: flex-start;
  font-size: 1vw;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.main-shapes-wrapper {
  filter: blur(120px);
}

.shape-3 {
  width: 53em;
  height: 100em;
  background-color: #b5a3d6;
  border-radius: 999em;
  position: absolute;
  top: -19.8em;
  left: -26em;
  right: 0;
  transform: rotate(-28deg);
}

.shape-2 {
  width: 43em;
  height: 40em;
  background-color: #b5a3d6;
  border-radius: 999em;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: -20em;
  left: -27.4em;
  right: 0;
}

.shape-1 {
  width: 40em;
  height: 40em;
  background-color: #a0bce0;
  border-radius: 999em;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: -24.7em;
  left: 0;
  right: 0;
}

.blending-group-wrapper {
  z-index: 1;
  filter: blur(120px);
  mix-blend-mode: overlay;
}

.shape-8 {
  width: 47em;
  height: 119em;
  background-color: #3a7fff;
  border-radius: 999em;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: -17.1em;
  left: 26.7em;
  right: 0;
  transform: rotate(29deg);
}

.shape-9 {
  width: 30em;
  height: 119em;
  background-color: #1b1b1b;
  border-radius: 999em;
  position: absolute;
  top: -5.3em;
  right: 1.2em;
  transform: rotate(39deg);
}

.shape-4 {
  width: 65em;
  height: 40em;
  background-color: #38699c;
  border-radius: 999em;
  margin-left: auto;
  position: absolute;
  top: -11.3em;
  left: 0;
  transform: rotate(40deg);
}

.shape-5 {
  width: 30em;
  height: 30em;
  background-color: #5be7b4;
  border-radius: 999em;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: -21.7em;
  left: 0;
  right: 0;
}

.shape-7 {
  width: 20em;
  height: 13em;
  background-color: #b5a3d6;
  border-radius: 999em;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: -4.1em;
  left: 0;
  right: -23.9em;
  transform: rotate(40deg);
}

.shape-6 {
  width: 66em;
  height: 60em;
  background-color: #a0bce0;
  border-radius: 999em;
  margin-left: auto;
  position: absolute;
  top: -14.2em;
  right: -25em;
  transform: rotate(60deg);
}

.background-noise {
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
  background-image: url('../images/noise.png');
  background-position: 0 0;
  background-size: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.container-medium.is-relative {
  position: relative;
}

.split-grid {
  height: 100%;
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  grid-template-rows: auto;
  align-items: center;
}

.auth-form-block {
  background-color: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 12px;
  margin-bottom: 0;
  padding: 1.5rem;
}

.heading-style-h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: DM Serif Display, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.spacer-xsmall {
  width: 100%;
  padding-top: 1rem;
}

.social_dropdown {
  width: 100%;
  margin-top: 1.25rem;
}

.social_dropdown-toggle {
  width: 100%;
  text-align: center;
  border: .0625rem solid #f0f0f0;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  padding: .75rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
}

.social_dropdown-toggle.w--open {
  box-shadow: none;
  border-style: solid;
  border-color: #f0f0f0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.social-btn_spacer {
  width: 1rem;
  height: 0;
}

.dropdown-icon {
  margin: 0;
  line-height: 1;
  position: static;
}

.dropdown-list.w--open {
  background-color: #fff;
  border: .0625rem solid #f0f0f0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow: hidden;
}

.social-btn {
  width: 100%;
  color: #000;
  border-top: .0625rem solid #f0f0f0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .9375rem;
  font-size: .875rem;
  font-weight: 400;
  text-decoration: none;
  transition: background-color .2s;
  display: flex;
  position: relative;
}

.social-btn:hover {
  background-color: #fafafa;
}

.social-btn:focus {
  border: .0625rem #000;
  border-top: .0625rem solid #ddd;
}

.social-btn::-ms-input-placeholder {
  color: #6e6e6e;
}

.social-btn::placeholder {
  color: #6e6e6e;
}

.social-btn.is-first {
  border-top-style: none;
}

.social-content {
  width: 100%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.social-image {
  width: 1rem;
}

.spacer-small {
  width: 100%;
  padding-top: 1rem;
}

.or-wrap {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  color: #929292;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  display: flex;
}

.or-wrap_line {
  height: .0625rem;
  background-color: #f0f0f0;
  flex: 1;
}

.form_field-wrapper {
  margin-bottom: 1rem;
}

.red-text {
  color: #ff0004;
}

.form_input {
  min-height: 3rem;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  margin-bottom: 0;
  padding: .5rem 1rem;
}

.button {
  width: 100%;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #000;
  border-radius: .75rem;
  padding: 1rem 1.5rem;
  font-weight: 700;
  line-height: 1;
}

.button.is-form-submit {
  width: 100%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.bottom-form-links {
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  display: flex;
}

.text-style-link {
  color: #000;
  text-decoration: underline;
}

.form_message-success {
  padding: 1.25rem;
}

.form_message-error {
  margin-top: .75rem;
  padding: .75rem;
}

.output_image-wrapper {
  height: 100%;
}

.output-slider {
  width: 100%;
  height: 100vh;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.output-slider_track {
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0;
  display: flex;
  overflow: visible;
}

.output-slider_slide {
  width: 100%;
  opacity: .4;
  padding: 1rem 0;
  transition: opacity .2s, transform .4s;
  position: relative;
  overflow: hidden;
  transform: scale(.9);
}

.testimonial-wrap {
  background-color: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 12px;
  padding: 1.5rem;
}

.testimonial-top {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  align-items: center;
  display: flex;
}

.testimonial-image {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border: 1px solid #f0f0f0;
  border-radius: 10rem;
}

.heading-style-h4 {
  font-family: DM Serif Display, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.text-size-medium {
  font-size: 1.25rem;
}

.ms-iframe {
  z-index: 2147483647;
  height: 70px;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.ms-iframe-embed {
  width: 180px;
  height: 70px;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  position: relative;
  overflow: visible;
}

.hidden-embed {
  z-index: -1;
  height: 0;
  max-height: 0;
  opacity: 0;
  position: fixed;
}

.ms-iframe-footer-embed {
  width: 100%;
  height: 350px;
  background-color: #d1e7fb;
  background-image: url('../images/noise.png');
  background-position: 0 0;
  background-size: 200px;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 0;
  display: block;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .section_auth.padding-global {
    padding-top: 2rem;
  }

  .ultra-gradient-wrapper {
    font-size: 1.3vh;
  }

  .shape-3 {
    width: 44em;
    height: 57em;
    position: absolute;
    top: 23.2em;
    bottom: 0;
    left: auto;
    right: -9.5em;
  }

  .blending-group-wrapper {
    margin-left: -4em;
  }

  .shape-4 {
    top: 22em;
  }

  .split-grid {
    grid-template-columns: 1fr;
  }

  .auth-form-block {
    width: 100%;
  }

  .output_image-wrapper {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .main-shapes-wrapper {
    filter: blur(80px);
  }

  .shape-3 {
    width: 30em;
    height: 100em;
  }

  .blending-group-wrapper {
    filter: blur(80px);
  }

  .heading-style-h3 {
    font-size: 1.5rem;
  }

  .heading-style-h4 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .section_ultra-gradients.is-full {
    width: 100%;
  }

  .shape-4 {
    top: 30.7em;
  }
}


